<!DOCTYPE html>
<html>
<head>
  <title>ZenGarden</title>
  <%= stylesheet_link_tag    "zen_garden/application", media: "all" %>
  <%= javascript_include_tag "zen_garden/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
